@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

body, html {
    font-family: 'Segoe UI';
    margin: 0;
    background: #F6F6FA;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.row {
    display: flex;
}

.space {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.bw {
    filter: grayscale(100%); 
}

.bw-text {
    color: #A0A0A4;
}

.relative {
    position: relative;
    display: inline-block;
}

.orange-circle {
    border-radius: 30px;
    background: #F55123;
    position: absolute;
    top: -6px;
    right: 0;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    color: white;
    padding: 1px 6px;
}

#quantity-small {
    display: none;
    position: absolute;
}

#rating {
    display: flex;
    position: relative;
}

.cart-circle {
    right: -10px;
    width: 16px;
    height: 16px;
    padding: 0;
}

.text-circle {
    font-weight: 600;
    font-size: 10px;
    top: -11px;
    right: 3px;
}

.all {
    height: 100%;
    background: #6725A8;
}

.header {
    padding: 16px 12px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    max-width: 1540px;
    margin: auto;
    background: #6725A8;
}

.header-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: auto;
    background: #6725A8;
    padding: 15px;
}

.menu-mobile {
    display: none;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color:#FFFFFF;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 57px;
    padding: 0 15px;
}

.search-icon-mob {
    background: url('img/Search-icon-mob.svg') no-repeat;
    background-color: FFFFFF;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    align-items: flex-end;
}

.nav {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 11px 9px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
}

.brend {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
    line-height: 86%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    white-space: nowrap;
    margin-left: -5px;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.2);
    flex-grow: 2;
    padding: 0px 18px;
    margin-left: 9px;
    margin-right: 2px;
}

.search-form {
    width: 95%;
    height: 48px;
    background: rgba(255, 255, 255, 0);
    border-radius: 36px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: 24px;
    border: none;
    outline: none;
}

.search-icon {
    margin-left: 19px;
    background: url('img/Search.png') no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    align-items: flex-end;
}

.search-form::-webkit-input-placeholder {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.input-data::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A0A0A4;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 169px;
} 

.profile-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 56px;
    height: 56px;       
}

.profile-btn span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: white;
    margin-top: 4px;
}

.profile-btn img {
    margin-right: -4px;
}

.pointer {
    cursor: pointer;
}

.cart-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 56px;
    height: 56px;    
}

.cart-btn span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;    
    color: white;
}

.cart-margin {
    margin-right: 5px;
}

.base {
    border-radius: 24px;
    display: flex;
    align-items: center;
    margin: auto;
    background: #F6F6FA;
    flex-direction: column;
}

.cart {
    margin: 35px 29px 0 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.cart-label {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
}

.list {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

.list-grays {
    margin-top: -22px;
}

.close-btn {
    background: url('img/close.svg') no-repeat;
    border: none;
    height: 10px;
    width: 16px;
    cursor: pointer;
    align-items: flex-end;
    margin-top: 9px;
    margin-right: 6px;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    margin-top: 25px;
}

.one-left {
    align-items: flex-start;
}

.one span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* margin-left: 11px; */
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 31px;
    gap: 5%;
}

.left-content {
    display: flex;
    align-items: flex-start;
    width: 375px;
}

.name-prop {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    white-space: nowrap;
}

.color-prop {
    margin-left: 10px;
}

.name-place {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #A0A0A4;
    margin-right: 7px;
}

.margin {
    margin-top: 8px;
}

.div-place {
    position: relative;
    display: flex;
    align-items: center;
}

.props {
    display: flex;
    margin-right: 50px;
    justify-content: space-between ;
    margin-top: 8px;
}

.info{
    width: 20px;
    display: inline-flex;
}

.product {
    width: 72px;
    height: 96px;
    margin-right: 16px;
}

.white-square {
    position: absolute;
    align-items: center;
    width: 21px;
    height: 21px;
    left: 6px;
    bottom: 7px;
    background: #FFFFFF;
    border-radius: 6px;
    font-weight: 400;
    font-size: 13px;
    display: none;
    justify-content: center;
}

.white-rectangle {
    position: absolute;
    bottom: 5px;
    background: #FFFFFF;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: none;
    justify-content: center;
    padding: 0px 4px 3px;
    width: 65px;
    height: 19px;
    left: 4px;
}

.item label {
    position: relative;
}

.product-small {
    width: 40px;
    height: 56px;
    margin-right: 9px;
}

.line {
    opacity: 0.3;
    margin-top: 16px;
    margin-bottom: 11px;
}

.counter {
    width: 100px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
}

.right, .left {
    margin: 0 4px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.counter-num {
    margin: 7px auto;
    text-align: center;
}

.icons {
    display: flex;
    gap: 19px;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 2px;
}

.warning {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #FF3B30;
    margin-top: 8px;
}

.like {
    background: url('img/like.svg') no-repeat;
    border: none;
    width: 19px;
    height: 16px;
    cursor: pointer;
}

.like:hover {
    filter: invert(42%) sepia(96%) saturate(7487%) hue-rotate(299deg) brightness(86%) contrast(101%);
}

.rose {
    filter: invert(42%) sepia(96%) saturate(7487%) hue-rotate(299deg) brightness(86%) contrast(101%);
}

.trash {
    background: url('img/trash.svg') no-repeat;
    border: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.price {
    width: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-mob {
    display: none;
    position: absolute;
    align-items: baseline;
}

.discount-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    white-space: nowrap;
    top: -4px;
    left: 5px;
    position: relative;
}

#editable1 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.items {
    opacity: 1;
    position: relative;
    display: block;
}

.gray-items {
    opacity: 1;
}

.original-price {
    white-space: nowrap;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
    text-decoration: line-through;
}

.big-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    top: 0px;
    left: -3px;
    margin-bottom: 6px;
}

.order-wrapper {
    position: sticky;
    top: 14px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
    margin-top: 22px;
    margin-right: 24px;
    width: 381px;
    height: 100%;
    gap: 23px;
}

.up-item {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.up-item span {
    white-space: nowrap;
}

.primary {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.up-11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.adress {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
}

.edit {
    background: url('img/edit.svg') no-repeat;
    border: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.label-delivery {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.time-delivery {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #CB11AB;
}

.delivery-free {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 12px;
    gap: 8px;
    isolation: isolate;
    background: #F6F6FA;
    border-radius: 8px;
    margin-top: 8px;
}

.free {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #0CB477;
    text-decoration: underline dotted;
}

.free-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    position: relative;
}

.mir {
    background: #F6F6FA;
    border-radius: 4px;
}

.card {
    margin-left: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.middle-1 {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 12px;
    gap: 8px;
    background: #F6F6FA;
    border-radius: 8px; 
    margin-top: 16px;
}

.middle-1 span {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
}

.payment {
    display: flex;
    align-items: center;
}

.down {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit {
    width: 100%;
    height: 44px;
    background: #CB11AB;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.submit-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.down-1 {
    margin-top: 12px;
    display: flex;
}

.agree {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
}

.ok {
    margin-bottom: 30px;
    margin-right: 8px;
}

.out-of-stock-btn {
    margin-right: 130px;
    margin-top: -5px;
}

.mir {
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    margin-right: 4px;
}

.gray-wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px 27px 28px 24px;
    gap: 18px;
    background: #FFFFFF;
    border-radius: 16px;
}   

.gray-wrapper-inputs {
    padding-right: 170px;
}

.gray-wrapper-payment {
    padding-top: 12px;
}

.edit-delivery {
    position: relative;
    top: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #CB11AB;
    cursor: pointer;
    text-decoration: none;
}

.delivery-label {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.width-delivery {
    width: 185px;
}

.wrappers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
    margin-top: 8px;
}

.footer {
    max-width: 1540px;
    height: 63px;
    margin: auto;
    align-items:center;
    display: flex;
    justify-content: center;
    background: #6725A8;
}

.copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.input-data {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    color: #000000;
    border:0;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);;
    outline: none;
    padding: 2px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.wrapper-input {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.INN-label {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    bottom: -21px;
    white-space: nowrap;
}

.div-input-data {
    margin-bottom: 12px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: 400;
    font-size: 16px;
}

.checkbox+label::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #adb5bd;
    border-radius: 6px;
    margin-right: 0.66em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65% 65%;
    background-color: #FFFFFF;
    z-index: 1;
}

#debit-from {
    font-size: 13px;
}

.checkbox:checked+label::before {
    border-color: #CB11AB;
    background-color: #CB11AB;
    background-image: url("img/checkbox-ok.svg");
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none; 
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1; 
	  pointer-events: auto;
}

.modal-dialog {
    position: relative;
    margin: 10px;
    width: 400px;
}

.wrapper-base {
    display: flex;
    width: 100%;
}

.case {
    display: flex;
    position: relative;
}

.cart-rose {
    left: -3px;
    position: relative;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    outline: 0;
    margin-top: -59px;
    padding: 15px 24px 24px 24px;
}

@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 13px;
}

.close {
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .9;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
}

.radio {
    margin: 0 10px;
}

.minus {
    color:#A0A0A4;
}

#pickpoint {
    display: flex;
    position: relative;
}

#courier {
    display: none;
    position: absolute;
}

.card-submit  {
    padding: 0px 48px;
    width: 164px;
    height: 44px;
    background: #CB11AB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;   
    cursor: pointer;
    border: none;
}

.pickpoint-btn {
    gap: 16px;
    width: 224px;
    height: 36px;
    background: #FFFFFF;
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    line-height: 123%;
}

.selected {
    border: 2px solid #CB11AB;
}

.adresses-label {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 26px;
    margin-bottom: 12px;
    display: block;
}

.trash-gray {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 0;
}

.trash-gray:hover, .trash-gray:focus {
    filter: invert(30%) sepia(100%) saturate(893%) hue-rotate(341deg) brightness(113%) contrast(103%);
}

.trash:hover {
    filter: invert(30%) sepia(100%) saturate(893%) hue-rotate(341deg) brightness(113%) contrast(103%);
}

#counter-close {
    display: none;
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.form-radio {
    display: flex;
}

.form-radio input[type=radio] {
	display: none;
}
.form-radio label {
	display: flex;
	cursor: pointer;
	position: relative;
	margin-right: 0;
	user-select: none;
}
.form-radio label:before {
	content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #adb5bd;
    border-radius: 100%;
    margin-right: 0.7em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-top: 5px;
    
}
 
.form-radio input[type=radio]:checked + label:before {
    background-color: #CB11AB;
    background-image: url("img/Dot.svg");
}
 
.input-div {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.warning-text {
    position: absolute;
    bottom: -16px;
    color: #F55123;
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
}

.placeholder {
    position: absolute;
    top: -15px;
    display: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.date {
    margin-left: 12px;
}

.hint {
    position: relative;
    border-bottom: 1px dashed #A0A0A4;
    left: -4px;
}

.hidden {
    pointer-events: none;
    z-index: 1000;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity:0;
    transition: 1s; 
    position: absolute;
    top: 130%;
    left: -31px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 11px 16px 13px 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.hidden-price {
    top: 135%;
    left: auto;
    right: 0;
    width: 232px;
}

.hover:hover + .hidden{
    opacity:1;
    transition: 1s;
}

.OOO-label {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

#insert-here-delivery {
    width: 70%;
}

.hidden-free {
    top: 167%;
    width: 288px;
    left: -120px;
} 

.hidden-free-cart {
    top: 140%;
    width: auto;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
}

.counter-price {
    display: flex;
    justify-content: space-between;
}

.editable-flex {
    display: flex;
}

.modal-delivery {
    width: 500px;
}

.product-item {
    display: none;
    position: absolute;
}

.products-interval {
    display: none;
    position: absolute;
}

.none {
    display: flex;
    position: relative;
}

.h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}

.h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap20 {
    gap: 20px;
}

.gap24 {
    gap: 24px;
}

@media (min-width: 1540px) {
    .wrapper-base {
        width: 1540px;
    }
}


@media (max-width: 1100px) {
    .gray-wrapper-inputs {
        padding-right: 27px;
    }
    .order-wrapper {
        margin-right: 26px;
    }
    .left-content {
        width: 413px;
    }
}

@media (max-width: 1000px){
    .wrapper-base {
        flex-direction: column;
    }
    .order-wrapper {
        margin: 0 24px 30px 24px;
        width: auto;
    }
    .hidden-free-cart {
        left: 180px;
        width: 260px;
    }
}

@media (max-width: 722px) {
    .header {
        display: none;
    }
    .header-mobile {
        display: flex;
    }
    .item {
        flex-direction: column;
        margin-bottom: 27px;
    }
    .item .h4 {
        -webkit-line-clamp: 2;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .menu-mobile {
        display: flex;
    }
    .brend {
        margin-bottom: 6px;
        font-size: 23px;
        text-align: center;
    }
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0; 
    }
    .modal-content {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 17px;
        height: 100%;
        margin: 0;
        border-radius: 0; 
    }
    .modal-header {
        margin-bottom: 15px;
    }
    .tshirt-span {
        white-space: nowrap;
    }
    .card-submit {
      width: 100%;
      position: absolute;
      bottom: 35px;
      height: 45px;
      border-radius: 20px;
    }
    .modal-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
    .close img {
        width: 20px;
        height: 20px;
    }
    .close {
        margin-right: -3px;
    }
    .mobile-margin-bottom{
        margin-bottom: 18px;
    }
    .wrapper-input {
        flex-direction: column;
        gap: 45px;
    }
    .form-radio label {
        align-items: center;
    }
    .form-radio label:before {
        width: 16px;
        height: 16px;
        margin-top: 0;
    }
    .modal-delivery .form-radio .h4 {
        font-size: 17px;
        margin-right: 20px;
    }
    .form-radio .mir {
        margin-right: 5px;
    }
    .modal-delivery {
        max-width: 100%;
    }
    .pickpoint-btn {
        width: 313px;
        height: 60px;
        border-radius: 40px;
        height: 49px;
    }
    .adresses-label {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 16px;
    }
    .trash-gray {
        width: 17px;
        height: 17px;
    }
    .info {
        display: none;
        position: absolute;
    }
    .hidden {
        display: none;
        position: absolute;
    }
    .left-content {
        width: auto;
        margin-bottom: 1px;
    }
    #insert-here-delivery {
        width: 100%;
    }
    .product {
        width: 80px;
        height: 106px;
    }
    .delivery-div {
        position: absolute;
        display: none;
    }
    .payment-div {
        position: absolute;
        display: none;
    }
    .delivery-free {
        background: #F0ECF4;
        border-radius: 8px;
    }
    .item .checkbox+label::before {
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .counter-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .price {
        display: none;
        position: absolute;
    }
    .counter-price {
        display: block;
        margin-top: 8px;
    }
    .cart-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    .counter {
        width: 83px;
        height: 37px;
    }
    .h4 {
        font-weight: 400;
        font-size: 15px;
    }
    .price-mob {
        display: flex;
        position: unset;
    }
    .discount-price {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-right: 10px;
        top: 1px;
        left: 1px;
    }
    .icons {
        flex: auto;
        gap: 26px;
        margin-top: 12px;
    }
    .list-grays {
        margin-top: 2px;
    }
    .flex-end {
        justify-content: flex-end;
    }
    .out-of-stock-btn {
        margin: 3px -8px 0 0;
    }
    .span-card-number {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .wrappers {
        margin-top: 4px;
        margin-bottom: 9px;
    }
    .warning {
        margin-left: 13px;
    }
    .div-place {
        display: none;
        position: absolute;
    }
    .primary {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    .color-prop {
        display: none;
        position: absolute; 
    }
    .delivery-label {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    .gray-wrapper {
        gap: 9px;
        margin: 0px -27px -4px -12px;
        padding-right: 13px;
        padding-left: 13px;
        padding-bottom: 26px;
    }
    .cart {
        margin-top: 15px;
        margin-left: 15px;
    }
    .mir {
        margin-right: 8px;
    }
    #insert-here-delivery {
        gap: 2px;
    }
    .products-interval {
        margin-top: 7px;
    }
    .case {
        margin-top: 15px;
    }
    .free-text-div {
        margin: 12px 10px 0 8px;
    }
    .text-circle {
        top: -10px;
        right: 5px;
    }
    .one {
        margin-top: 15px;
    }
    .gray-item {
        margin-bottom: 31px;
    }
    .order-wrapper {
        gap: 8px;
        margin: 0;
        background: #F6F6FA;
        box-shadow: none;
        border: none;
        padding: 15px 15px 15px 16px;
        margin-bottom: 24px;
    }
    .cart-circle {
        left: 15px;
        top: -3px;
    }
    .middle-1 {
        margin-top: 7px;
        background: #F0ECF4;
    }
    .submit {
        margin-top: 17px;
    }
    .editable-flex {
        flex-direction: column;
    }
    .width-delivery {
        margin-bottom: 12px;
    }
    .mobile-margin {
        margin-bottom: 0px;
    }
    .footer{
        height: 120px;
        align-items:unset;
    }
    .copyright {
        margin-top: 23px;
    }
    .white-square {
        display: flex;
    }
    .white-rectangle {
        display: flex;
    }
    .order-wrapper .submit-text {
        font-size: 15px;
    }
    .props {
        margin-top: 10px;
    }
    .warning {
        margin-top: 11px;
    }
    .checkbox+label {
        font-weight: 400;
        font-size: 16px;
    }
    .ok {
        position: relative;
        margin-bottom: 13px;
        margin-right: 8px;
    }
    .close-btn {
        margin-right: -7px; 
    }
    .date {
        margin-left: 12px;
    }
    .h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    .cost-span {
        margin-top: 9px;
        margin-bottom: 0;
    }
    .gray-wrapper-inputs {
        margin-left: -13px;
        padding-top: 13px;
    }
    .gray-wrapper-payment {
        margin-left: -13px;
        padding-top: 13px;
    }
  }
